{% extends 'layout.html' %}

<!--*********************************************-->

{% block title %}

CAJERO AUTOMATICO

{% endblock %}

<!--*********************************************-->

{% block header %}

<h1 class="title is-2">BIENVENIDO A TU CAJERO</h1>

{% endblock %}

<!--*********************************************-->


{% block main %}

<div class="contenedor" >


    <img src="{{ url_for('static', filename='img/logoATM.svg')}}" alt="">

    <br>

<form action="{{ url_for('home') }}" method="post">

    <h3 class="title is-3">Recuerde minimo 6 digitos</h3>

    <br>



    <!--***********************************************-->

    <div class="field">
            <p class="control has-icons-left">
                    <label for="codigo">
                            Ingrese el codigo de su cuenta bancaria: 
                    </label>
                    <input class="input" id="botonhome" type="password" name="codigo" required placeholder="Ingresar Codigo">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

    

    <!--***********************************************-->

    <div class="botonhome"></div>

    <button class="button is-link" type="submit">ENTRAR</button>

    </div>

    <!--*********************************************-->

    {% if mensaje != '' %}

        <h1 class="title is-3">{{ mensaje }}</h1>

    {% endif %}

    <!--*********************************************-->

  
    <h3 class="subtitle is-6">Aqui estan los codigos para poder acceder,</h3>
        <h3 class="subtitle is-6">los cuales obviamente no aparecen en la vida real.</h3>
        <h3 class="subtitle is-6">Algunos como: 123456, 545657, 667678</h3>
            <h3 class="subtitle is-6">o los puede mirar en static/json/cuentas.json</h3>
                
  

</form>



</div>


{% endblock %}

<!--*********************************************-->