{% extends 'layout.html' %}

{% block header %}

{{ id_session }}

{% endblock %}

<!-- ***************************************************-->

{% block main %}

<div class="contenedor">

    <form action="{{ url_for('medidas') }}" method="post">

        <!--Superficie-->

        <h1>SUPERFICIE</h1>

        <br>

        <!--Superficie/area total vivienda-->
        <label for="superficietotal">
            Superficie Total Vivienda (m2)
          

            <div class="field">
                    <div class="control">
                      <input class="input is-primary" type="number" placeholder="Primary input" name="superficieTotal" required>
                    </div>
                  </div>
        </label>

        <br>

        <!--Superficie/Área por habitación-->
        <label for="superficieHab">
                Superficie por Habitación (m2)
               

                <div class="field">
                        <div class="control">
                          <input class="input is-primary" type="number" placeholder="Primary input" name="superficieHabitacion" required>
                        </div>
                      </div>
            </label>

            <br>

        <!--Altura Libre-->
        <label for="altura">
                Altura de la Vivienda (m)
                

                <div class="field">
                        <div class="control">
                          <input class="input is-primary" type="number" placeholder="Primary input" required name="altura">
                        </div>
                      </div>
            </label>

            <br>

        <!--Superficie/Área cocina-->

        <label for="cocina">
                Superficie Total de la Cocina (m2)
               

                <div class="field">
                        <div class="control">
                          <input class="input is-primary" type="number" placeholder="Primary input" required name="cocina">
                        </div>
                      </div>
            </label>

            <br>

        <!--Superficie/Área sala principal-->

        <label for="salaPrincipal">
                Superficie Total de la Sala Principal (m2)
                <input type="number" name="salaPrincipal" required>

                <div class="field">
                        <div class="control">
                          <input class="input is-primary" type="number" placeholder="Primary input" required name="salaPrincipal">
                        </div>
                      </div>
            </label>

            <br>

        <!--Superficie/Área baño-->

        <label for="banyo">
                Superficie Total del baño (m2)
                <input type="number" name="banyo" required>

                <div class="field">
                        <div class="control">
                          <input class="input is-primary" type="number" placeholder="Primary input" required name="banyo">
                        </div>
                      </div>
            </label>

    

            <br>

        <!--boton de enviar los datos de las medidas-->

        <button type="submit">
            AGREGAR MEDIDAS A LA FICHA
        </button>
    </form>

    <br>

    <!--************************************************************-->

    <h1>SI TE SIRVE CALCULAR TUS MEDIDAS, CALCULA LAS MEDIDAS EN ESTA MINI-CALCULADORA</h1>

    <form action="{{ url_for('resultado') }}" method="post">

        <br>

            <!-- titulo -->
        
            <h3 class="title is-3">MINICALCULADORA</h3>
        
            <!--valor 1-->
        
            <div class="field">
                    <div class="control">
        
                            <label class="label">Ingresa el primer numero</label>
                      <input name="valor1"class="input is-primary" type="number" placeholder="Primary input">
                    </div>
                  </div>
        
        
            <!-- operador -->
        
            <div class="field">
                    <div class="control">
                      <div class="select is-large">
                        <select name="operador">
                                <option value="+">
                                        +
                                    </option>
                            
                                    <option value="-">
                                     -
                                    </option>
                                    
                                    <option value="*">
                                     *
                                    </option>
                            
                                    <option value="/">
                                     /
                                    </option>
                        
                        </select>
                      </div>
                    </div>
                  </div>
        
        
            <!-- valor 2-->
        
            <div class="field">
                <div class="control">
        
                        <label class="label">Ingresa el segundo numero</label>
                    <input name="valor2"class="input is-primary" type="number" placeholder="Primary input" >
                </div>
                </div>
        
            <!-- calcular -->
        
            <div class="control">
                    <button class="button is-primary">CALCULAR</button>
                  </div>

                  </form>
        
            <br>
        
            <h1>RESULTADO DE LA OPERACIÓN: {{ resultado }}</h1>

    <br>

    <!--************************************************************-->

    {% if activarVer == 1 %}

    <!--IR A verFicha.html-->

    <button>
            <a href="{{ url_for('verFicha') }}">VER FICHA CON MEDIDAS</a>
        </button>

    {% endif %}

    <!--************************************************************-->

    <form action="{{ url_for('home') }}" method="post">

    <button>
            VOLVER
        </button>

    </form>

</div>

{% endblock %}