{% extends 'layout.html' %}

<!--*********************************************-->

{% block title %}

OPCIONES

{% endblock %}

<!--*********************************************-->

{% block header %}

<h1 class="title is-2">OPCIONES</h1>

{% endblock %}


<!--*********************************************-->


{% block main %}

<div class="contenedor" >


    <img src="{{ url_for('static', filename='img/targeta.png')}}" alt="">

    <br>

<h1 class="title is-4">ESCOJA ENTRE LAS SIGUIENTES OPCIONES</h1>

<!--*********************************************-->

        {% for i in opciones %}

        <form action="{{ url_for('opciones') }}" method="post">

        <br>

        <button type="submit" id="botonopciones" class="button is-link is-rounded">
            
            {{ i }}

            <input type="hidden" name="opcion" value="{{ i }}">

            

        </button>

    </form>

        {% endfor %}

        <!--*********************************************-->
        

</div>

<br>
        <br>
        <a class="button is-link is-rounded" id="volver" href="{{ url_for('home') }}">SALIR</a>




{% endblock %}

<!--*********************************************-->