{% extends 'layout.html' %}




{% block title %}

RESULTADO OPERACION

{% endblock %}




{% block header %}


{% endblock %}





{% block main %}



<div class="contenedorResultado">

        <h3 class="title is-3">RESULTADO</h3>

        <h4 class="title is-4">El resultado de la operacion es el siguiente: </h4>

<br>

<h2 class="title is-2">{{ resultado }}</h2>



<a class="button is-info" href="{{ url_for('home') }}">VOLVER</a>

</div>


{% for i in dicc %}

<br>

{{ i }}

{% endfor %}



{% endblock %}