{% extends 'layout.html' %}

{% block title %}

RULETA

{% endblock %}

<!--bloque header-->

{% block header %}

<h5 class="subtitle is-6">Numero de intentos: {{ intento }}</h5>

{% endblock %}


<!--bloque main -->

{% block main %}

<!--Contenedor-->
    <div class="contenedor">

        

            

                    <br>

                    <form action="{{ url_for('ruleta') }}" method="post">

          <!--Boton siguiente intento-->


          <button class="button is-primary"><input type="hidden" name="ruleta" value="activar">SIGUIENTE INTENTO</button>


        </form>

        <!--titulo-->

        <div class="titulo">

     

            <h3 class="title is-5">TU RESULTADO FUE: </h3>

            <h3 class="title is-5">{{ datos[0] }}</h3>
            
            {% set pngOpcion = 'img/' + datos[0] + '.png' %}
    
            <img src="{{ url_for('static', filename=pngOpcion) }}" alt="" class="pngopcion">



            <h3 class="title is-5">{{ datos[1] }}</h3>

            <h3 class="title is-5">{{ datos[2] }}</h3>


            </div>

            <h3 class="title is-5">TU SCORE ES: {{ score[0] }}</h3>

        <!-- Boton Salir-->

        <br>



<form action="{{ url_for('home') }}" method="post">

    <button type="submit">VOLVER A HOME</button>
    
    </form>

    
    </div>


{% endblock %}