{% extends 'layout.html' %}

{% block header %}

<h1>INTENTOS</h1>

{% endblock %}

<!-- ***************************************************-->

{% block main %}

<h1>SELECCIONA CUALES TIPOS DE DADOS QUIERES</h1>

<form action="{{ url_for('juegoDados') }}" method="post">

<div class="contenedor">

    {% for i in listaTipos %}


                {% set tipo = 'img/' +  i  + '.jpg' %}

                <img src="{{ url_for('static', filename=tipo)}}" alt="">

                <br>

        <label for="cantidad{{i}}">

            <input type="hidden" name="activar" value="activar">

            <input type="hidden" name="{{i}}" value="{{i}}">

            <input type="number" name="cantidad{{i}}" id="" value=0>
        </label>

    {% endfor %}




<br>


    <button type="submit">

    ESCOGER CANTIDAD DE DADOS

    </button>

    </form>


        
</div>



<br>



<form action="{{ url_for('home') }}" method="post">

    <button type="submit">VOLVER A HOME</button>
    
    </form>


{% endblock %}